version: '3.8'

volumes:
  db_storage:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/gymbro/pgdata
  n8n_storage:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/gymbro/n8ndata

services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - POSTGRES_NON_ROOT_USER
      - POSTGRES_NON_ROOT_PASSWORD
      - DB_POSTGRESDB_POOL_SIZE
      - EXECUTIONS_DATA_PRUNE
      - EXECUTIONS_DATA_MAX_AGE
    volumes:
      - db_storage:/var/lib/postgresql/data
      - ./init-data.sh:/docker-entrypoint-initdb.d/init-data.sh
    ports:
      - 5432:5432
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10

  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
      - DB_POSTGRESDB_USER=${POSTGRES_NON_ROOT_USER}
      - DB_POSTGRESDB_PASSWORD=${POSTGRES_NON_ROOT_PASSWORD}
      - WEBHOOK_URL=https://gymsbro.com
      - WEBHOOK_TUNNEL_URL=https://gymsbro.com
      - N8N_SSL_CERT=${N8N_SSL_CERT}
      - N8N_SSL_KEY=${N8N_SSL_KEY}
    expose:
      - "5678"
    links:
      - postgres
    volumes:
      - n8n_storage:/home/node/.n8n

  nginx:
    image: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt/live/gymsbro.com/fullchain.pem:/etc/nginx/certs/fullchain.pem:ro
      - /etc/letsencrypt/live/gymsbro.com/privkey.pem:/etc/nginx/certs/privkey.pem:ro
    depends_on:
      - n8n